body {
	background-color: #FFFFFF;
	height: auto;
	overflow: auto; /*高度随内容变化的意思差不多吧= =*/
	margin: 0;
	padding: 0;
}

/*#bg设置页面背景*/
#bg {
	margin: 0px; /*与周围模块的距离*/
	overflow: auto; /*高度随内容变化的意思差不多吧= =*/
	background-color: #FFFFFF;
	height: auto; /*background-image: url(../image/bg.jpg);设置图片为背景*/
	/*background-size:100%;使得背景图片充满界面
	background-attachment: fixed;
	background-repeat: no-repeat;*/
}

.top {
	margin-top: 0.2cm; /*使得页面整体向下平移0.2cm*/
	background-image: none;
	background-size: 100%;
	padding-top: 20px;
}

.top2 {
	margin-top: 2cm;
	padding-top: 1.5cm;
}

.top3 {
	margin-top: 1.5cm;
	padding-top: 1.2cm;
}

.top4 {
	background-color: #CCFFFF;
}
/*time。html页面专用*/
.csstime {
	color: #FFFFFF;
	padding: 0px;
	font-family: "宋体"; /*设置字体类型*/
	font-size: 10px; /*设置字体大小*/
	font-weight: bold; /*设置字体是否加粗*/
	text-align: center; /*文本居中*/
	margin-top: 0.25cm;
	background-color: #00A2CA; /*设置背景颜色*/
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 2px;
}

/*#sectionLinks系列是左侧导航栏超链接的css*/
#sectionLinks {
	margin: 0px;
	padding: 0px;
	vertical-align: bottom;
}

#sectionLinks h3 {
	padding: 10px 0px 2px 10px;
	border-bottom: 1px solid #cccccc;
}

#sectionLinks a:link, #sectionLinks a:visited {
	display: block;
	background-image: url(../bg_nav.jpg);
	font-weight: bold;
	padding: 3px 0px 3px 10px;
	color: #FFFFFF;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #ffffff;
	border-bottom-color: #cccccc;
}

#sectionLinks a:hover {
	background-color: #DDEEFF;
	background-image: none;
	font-weight: bold;
	text-decoration: none; /*去掉超链接的下划线*/
	color: #000000;
	margin-top: 0px;
	margin-right: 5px;
	margin-bottom: 0px;
	margin-left: 5px;
	border-top-width: 1px;
	border-top-style: none;
	border-top-color: #cccccc;
}

/*导航栏的css控制它的字体，超链接鼠标滑过、点击的效果等*/
a {
	color: #000000;
	text-decoration: none;
}

a:hover {
	color: #000000;
}

ul#nav {
	text-align: center; /*居中显示*/
	width: 100%;
	height: 47px;
	background: #00A2CA;
	margin: 0 auto;
}

ul#nav li {
	display: inline; /*使导航栏横过来= =*/
	height: 47px;
}

ul#nav li a {
	display: inline-block;
	padding: 0 20px;
	height: 47px;
	line-height: 47px;
	color: #FFF;
	font-family: "新宋体";
	font-size: 10px;
	font-weight: bold;
}

ul#nav li a:hover {
	background: #0095BB;
	cursor: pointer;
}

/*整个页面的css*/
#Container {
	width: 950px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	height: auto;
	background-color: #FFFFFF;
}

/*上方区域（包括logo和文字滚动区）的css*/
#Header {
	overflow: auto;
}
/*logo的css*/
#logo {
	overflow: auto;
	background-size: 100%;
	padding-left: 50px;
	padding-top: 50px;
	background-image: url(../image/logo.jpg);
	background-repeat: no-repeat;
	height: 25px;
	font-weight: bold;
	border-radius: 15px;
	overflow: hidden;
	margin-top: 6px;
}
/*上方文字滚动区的（欢迎访问青岛大学社团网站）的css
#logo2{
	overflow:auto;
	padding-left:0px;
	padding-top:5px;
	padding-bottom:0px;

}
*/

/*中间区域的css*/
#Content {
	height: auto;
	overflow: auto;
	padding-top: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
}

/*左边时间显示区、左侧导航栏以及图片轮播区的父层*/
#Content-Left {
	width: 150px;
	float: left; /*有助于分列显示*/
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 35px;
}

/*左边上方的时间显示区的css*/
#Content-time {
	height: 47px;
	width: 150px;
	margin-top: 5px;
	margin-right: 20px;
	margin-bottom: 10px;
	margin-left: 0px;
	background-size: 100%;
	border-top-width: medium;
	border-right-width: medium;
	border-bottom-width: medium;
	border-left-width: medium;
	border-top-style: outset;
	border-right-style: outset;
	border-bottom-style: outset;
	border-left-style: outset;
	font-weight: bold;
	border-radius: 20px;
	overflow: hidden;
}

/*左边中间的导航栏的css*/
#Content-nav2 {
	width: 100%;
	margin-top: 6px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	border-top-width: medium;
	border-right-width: medium;
	border-bottom-width: medium;
	border-left-width: medium;
	border-top-style: outset;
	border-right-style: outset;
	border-bottom-style: outset;
	border-left-style: outset;
	background: url(../image/bc8b492dc1031.jpg);
	background-size: 100%;
}

/*左下角图片轮播的css*/
#Content-image {
	width: 100%;
	margin-top: 10px;
	border-top-width: medium;
	border-right-width: medium;
	border-bottom-width: medium;
	border-left-width: medium;
	border-top-style: outset;
	border-right-style: outset;
	border-bottom-style: outset;
	border-left-style: outset;
}

#leftdown {
	height: 79px;
	width: 150px;
	padding-top: 20px;
	padding-right: 1px;
	padding-bottom: 64px;
	padding-left: 15px;
	background-image: url(../image/kstd_bg.jpg);
	background-size: 100%;
	margin-top: 12px;
	margin-bottom: 9px;
}

/*为导航栏（#Content-nav1）跟显示区（#main）的父层（大约就是这么说吧）*/
#Content-Main {
	height: auto;
	width: auto;
	float: left;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 40px;
}

/*#Content-nav1为上方导航栏的css*/
#Content-nav1 {
	height: 47px;
	width: 670px;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	background-color: #000000;
	border-top-width: medium;
	border-right-width: medium;
	border-bottom-width: medium;
	border-left-width: medium;
	border-top-style: outset;
	border-right-style: outset;
	border-bottom-style: outset;
	border-left-style: outset;
	font-weight: bold;
	border-radius: 20px;
	overflow: hidden;
}

/*#main为显示区（就是右边最大的那个）css*/
#main {
	width: auto;
	height: auto;
	margin-top: 10px;
	margin-bottom: 0px;
	margin-left: 0px;
	border: medium solid #66CCCC;
	bottom: 10px;
	/*border-top-width: medium;
	border-right-width: medium;
	border-bottom-width: medium;
	border-left-width: medium;
	border-top-style: outset;
	border-right-style: outset;
	border-bottom-style: outset;
	border-left-style: outset;
	background-image: url(../image/bg888.jpg);
	background-size:100%;*/
}

#main2 {
	height: auto;
	width: 260px;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 0px;
	border-top-width: medium;
	border-right-width: medium;
	border-bottom-width: medium;
	border-left-width: medium;
	border-top-style: outset;
	border-right-style: outset;
	border-bottom-style: outset;
	border-left-style: outset;
	float: right; /*有助于分列显示*/
}
/*右边*/
#Content-Right {
	height: auto;
	width: 180px;
	float: left; /*有助于分列显示*/
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 15px;
}

#Content-search {
	height: 58px;
	width: 180px;
	margin-top: 5px;
	margin-right: 20px;
	margin-bottom: 10px;
	margin-left: 0px;
	/*background-color: #00A2CA;设置背景颜色*/
	background-size: 100%;
	border-top-width: medium;
	border-right-width: medium;
	border-bottom-width: medium;
	border-left-width: medium;
	border-top-style: outset;
	border-right-style: outset;
	border-bottom-style: outset;
	border-left-style: outset;
	font-weight: bold;
	border-radius: 20px;
	overflow: hidden;
}

#Content-nav3 {
	height: auto;
	width: 100%;
	margin-top: 6px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	border-top-width: medium;
	border-right-width: medium;
	border-bottom-width: medium;
	border-left-width: medium;
	border-top-style: outset;
	border-right-style: outset;
	border-bottom-style: outset;
	border-left-style: outset;
	background-size: 100%;
}

#Content-nav4 {
	height: 255px;
	width: 100%;
	margin-top: 6px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	border-top-width: medium;
	border-right-width: medium;
	border-bottom-width: medium;
	border-left-width: medium;
	border-top-style: outset;
	border-right-style: outset;
	border-bottom-style: outset;
	border-left-style: outset;
	background-size: 100%;
}

/*#Footer为最下方页脚css*/
#Footer {
	width: 950px;
	height: 20px;
	background-color: #00A2CA;
	text-align: center;
	color: #FFFF99;
	padding-top: 5px;
}
/*如果上面用到float,下面布局开始前用这个清除一下。（我也不知道什么意思= =）*/
.Clear {
	clear: both;
}

/*除首页外大多数字体需要*/
h1 {
	color: #FFFFFF;
	font-size: 16px;
}

/*h2为上方滚动的欢迎访问青岛大学社团网站的css*/
h2 {
	color: #334d55;
	margin: 0px;
	padding: 0px;
	font-size: 100%;
	font-weight: bold;
}
/*h3为最下方青岛大学社团网站的css*/
h3 {
	color: #000000;
	margin: 0px;
	font-size: 100%;
	font-weight: bold;
	text-align: center;
	vertical-align: text-bottom;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
/*h4设置字体为白色*/
.h4 {
	color: #FFFFFF;
}

/*半透明*/
.ToolTip {
	filter: Alpha(Opacity = 50, style = 1, Finishopacity = 80);
	BORDER: #ff8c00 1px solid;
	BACKGROUND-COLOR: #FFFFFF;
}

/*以下是左下角图片轮播css（这个浮于#Content-image上方）*/
* {
	margin: 0;
	padding: 0;
	list-style: none;
}

#box {
	width: 150px;
	border: 0px solid #000;
	height: 255px;
	margin: 0px auto;
	position: relative;
	overflow: hidden;
}

#box ul {
	position: absolute;
	left: 0;
	top: 0;
}

#box ul li {
	width: 150px;
	height: 255px;
	float: left;
	padding: 5px;
}

/*
table.form{border-color: #C49760;border-width: 1px;border-style: dashed dashed solid dashed;border-collapse:separate ;border-spacing: 0px;border-collapse:collapse;margin-bottom:1px;}
table.form tbody{ 	border-right:1px dashed #c49760 ;	border-bottom:1px solid #c49760 ; border:1px solid #fff;}
table.form tr{background:#EEE;	padding:0 10px 0 20px; white-space: nowrap;height:23px;	font:normal 13px/150% "????";letter-spacing:1px; 	border-right:1px solid #fff;border-bottom:1px solid #fff; text-align:left;}
table.form td{ background:#EEE;	padding-left:10px; line-height:23px;	height:23px;  	font-size: 13px;  font-family: "????"; letter-spacing: 1px; border-right:1px solid #fff; border-bottom:1px solid #fff;padding-right:5px;}
table.form td.subtable {padding:0;border:0}
table.form td.subtable table{width:100%;}
table.form td span.space{margin:0 10px;}
*/
table.form {
	font-family: "新宋体";
	font-size: 14px;
	color: #000000;
	border-width: 1px;
	border-color: #999999;
	border-collapse: collapse;
	font-weight: bold;
	border-radius: 8px;
	overflow: hidden
}

table.form th {
	border-width: 1px;
	padding: 3px;
	border-style: solid;
	border-color: #999999;
	background-color: #b5cfd2;
	background-image: url(../image/1347078600_3763.jpg);
	font-size: 14px;
	font-weight: 900;
	color: #FFFF00;
}

table.form td {
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #dcddc0;
	background-image: url(../image/1347078645_1925.jpg);
}

input.button {
	font-size: 12px;
	text-decoration: none;
	letter-spacing: 1px;
	padding: 0px 10px;
	overflow: visible;
	height: 18px;
	height: 15px\9;
	border: 1px solid #D18C0C;
	font-family: "宋体";
	color: #333333;
	margin-top: 1px;
	line-height: 90%;
	background-image: url(../image/button.jpg);
}

/*登录界面*/
.login {
	position: relative;
	margin: 0 auto;
	padding: 20px 20px 20px;
	width: 310px;
	background: white;
	border-radius: 3px;
	-webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px
		rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px
		rgba(0, 0, 0, 0.3);
}

.login:before {
	content: '';
	position: absolute;
	top: -8px;
	right: -8px;
	bottom: -8px;
	left: -8px;
	z-index: -1;
	background: rgba(0, 0, 0, 0.08);
	border-radius: 4px;
}

.login h1 {
	margin: -20px -20px 21px;
	line-height: 40px;
	font-size: 15px;
	font-weight: bold;
	color: #555;
	text-align: center;
	text-shadow: 0 1px white;
	background: #f3f3f3;
	border-bottom: 1px solid #cfcfcf;
	border-radius: 3px 3px 0 0;
	background-image: -webkit-linear-gradient(top, whiteffd, #eef2f5);
	background-image: -moz-linear-gradient(top, whiteffd, #eef2f5);
	background-image: -o-linear-gradient(top, whiteffd, #eef2f5);
	background-image: linear-gradient(to bottom, whiteffd, #eef2f5);
	-webkit-box-shadow: 0 1px whitesmoke;
	box-shadow: 0 1px whitesmoke;
}

.login p {
	margin: 20px 0 0;
}

.login p:first-child {
	margin-top: 0;
}

.login input[type=text], .login input[type=password] {
	width: 278px;
}

.login input[type=radio] {
	z-index: 10000;
	overflow: visible;
	visibility: visible;
}

.login p.submit {
	text-align: right;
}

/*表单按钮*/
input {
	font-family: 'Lucida Grande', Tahoma, Verdana, sans-serif;
	font-size: 14px;
}

input[type=radio] {
	z-index: 10000;
}

input[type=text], input[type=password] {
	margin: 5px;
	height: 30px;
	color: #404040;
	background: white;
	border: 1px solid;
	border-color: #c4c4c4 #d1d1d1 #d4d4d4;
	border-radius: 1px;
	outline: 5px solid #eff4f7;
	-moz-outline-radius: 1px;
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
}

input[type=text]:focus, input[type=password]:focus {
	border-color: #7dc9e2;
	outline-color: #dceefc;
	outline-offset: 0;
}

input[type=submit] {
	padding: 0 18px;
	height: 29px;
	font-size: 12px;
	font-weight: bold;
	color: #527881;
	text-shadow: 0 1px #e3f1f1;
	background: #cde5ef;
	border: 1px solid;
	border-color: #b4ccce #b3c0c8 #9eb9c2;
	border-radius: 16px;
	outline: 0;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	background-image: -webkit-linear-gradient(top, #edf5f8, #cde5ef);
	background-image: -moz-linear-gradient(top, #edf5f8, #cde5ef);
	background-image: -o-linear-gradient(top, #edf5f8, #cde5ef);
	background-image: linear-gradient(to bottom, #edf5f8, #cde5ef);
	-webkit-box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
	box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
}

input[type=reset] {
	padding: 0 18px;
	height: 29px;
	font-size: 12px;
	font-weight: bold;
	color: #527881;
	text-shadow: 0 1px #e3f1f1;
	background: #cde5ef;
	border: 1px solid;
	border-color: #b4ccce #b3c0c8 #9eb9c2;
	border-radius: 16px;
	outline: 0;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	background-image: -webkit-linear-gradient(top, #edf5f8, #cde5ef);
	background-image: -moz-linear-gradient(top, #edf5f8, #cde5ef);
	background-image: -o-linear-gradient(top, #edf5f8, #cde5ef);
	background-image: linear-gradient(to bottom, #edf5f8, #cde5ef);
	-webkit-box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
	box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
}

input[type=button] {
	padding: 0 18px;
	height: 29px;
	font-size: 12px;
	font-weight: bold;
	color: #527881;
	text-shadow: 0 1px #e3f1f1;
	background: #cde5ef;
	border: 1px solid;
	border-color: #b4ccce #b3c0c8 #9eb9c2;
	border-radius: 16px;
	outline: 0;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	background-image: -webkit-linear-gradient(top, #edf5f8, #cde5ef);
	background-image: -moz-linear-gradient(top, #edf5f8, #cde5ef);
	background-image: -o-linear-gradient(top, #edf5f8, #cde5ef);
	background-image: linear-gradient(to bottom, #edf5f8, #cde5ef);
	-webkit-box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
	box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
}

/* 懒人图库 搜集整理 www.lanrentuku.com 
*{ margin:0; padding:0; list-style:none;}
#divSmallBox{overflow:hidden;*display:inline;*zoom:1;width:10px;height:10px;margin:0 5px;border-radius:10px;background:#ffffff;}
#playBox{
	width:350px;
	height:200px;
	position:absolute;
	overflow:hidden;
	background-color: #333;
	background-position: left;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: 10px;
}
#playBox .oUlplay { width:99999px; position:absolute; left:0; top:0;}
#playBox .oUlplay li{ float:left;}
#playBox .pre{ cursor:pointer; width:45px; height:45px; background:url(../image/l.png) no-repeat; position:absolute; top:45px; left:3px; z-index:5;}
#playBox .next{ cursor:pointer; width:45px; height:45px; background:url(../image/r.png) no-repeat; position:absolute; top:45px; right:3px; z-index:5;}
#playBox .smalltitle {width:350px; height:6px; position:absolute; bottom:6px; z-index:10}
#playBox .smalltitle ul{ width:60px; margin:0 auto;}
#playBox .smalltitle ul li{ width:6px; height:6px; margin:0 5px; border-radius:6px; background:#ffffff; float:left; overflow:hidden;*display:inline;*zoom:1;}
#playBox .smalltitle .thistitle{ background:#69aaec;}
*/